@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');
*{
    margin: 0; padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}


.wrp{
    width: 100%; height: 600px;
    position: relative;
    display: flex;
}
.portada{
    width: 100%; height: 100%;
    background: url("img/programming-g32f6a5b05_1280.jpg");
    background-attachment:fixed;
    background-size: cover;
}

.banner{
    position: relative;
}

.banner__imagen{
    background: url() no-repeat center / cover;
    width: 100%;
}

video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    opacity: 0.9;
    z-index: -1;
}


.contenido{
    position: absolute;
    top: 0; left: 0;
    width: 100%; height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(0,0,11,0.6);
}
.contenido .info{
    width: 100%;
    max-width: 750px;
    text-align: center;
}
.contenido .info h1{
    color: #fff;
    font-size: 60px;
    text-shadow: 0px 1px 10px rgba(0,0,0,0.4);
    margin-bottom: 25px;
    letter-spacing: 1px;
    justify-content: center;

}
.contenido .info a{
    display: inline-block;
    text-decoration: none;
    font-size: 19px;
    padding: 10px 25px;
    color: #fff;
    background: rgb(0, 30, 128);
    border-radius: 50px;
    margin-bottom: 40px;
    border: 2px solid transparent;
    transition: all 300ms ease;
    letter-spacing: 0.5px; /*Para separar un poco las letras*/
}
.contenido .info a:hover{
    background: transparent; /*Fondo transparente*/
    border: 2px solid #fff;
}
.curveado{
    position: absolute;
    width: 100%;
    bottom: -10px;
}
.curveado img{
    width: 100%;
}
@media(max-width:768px){
    .contenido .info h1{
        font-size: 35px;
    }

}

@media screen and (min-width:0){
    video{
        height:calc(100vh - 15px);
    }
}

@media screen and (min-width:768px){
    video{
        height:calc(100vh - 72px);
    }
}